.budget-grid {

    background-color: #eeeeeec4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.grid-body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 30px;
}
.cell {
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    color: #0000007a;
}  