.Chat{
    height:40vh;
    background-color: rgb(255, 255, 255);
    margin-top:3px;
    border-radius: 10px;
    border:1px solid #cccccc;
    overflow: hidden;
}
.text{
    height:35px;
    place-self: center;
    width:90%;
    border-radius: 20px;
    border:1px solid #cccccc83;
    box-shadow: 1px 1px 5px #9e9e9eea;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 30vh;
}