.topbar {
    height: 25px;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  .topbar-header {
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom:0;
    padding-bottom: 20px;
    font-size: 20px;
    align-items: center;
  }

 